@import "tailwindcss";

body {
  font-family: var(--font-fraktion);
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 500;
  background-color: #f1f1f1;
}

:root{
  --line-margin: 1rem
}

@font-face {
  font-family: 'PP Editorial New';
  src: url('/src/assets/fonts/PPEditorialNew-Ultralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Fraktion Sans';
  src: url('/src/assets/fonts/PPFraktionSans-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --breakpoint-xs: 20rem;      /* 320px - Mobile small */
  --breakpoint-sm: 40rem;      /* 640px - Mobile large */
  --breakpoint-md: 64rem;      /* 1024px - Tablet */
  --breakpoint-lg: 95rem;      /* 1520px - Desktop */
  --breakpoint-xl: 120rem;     /* 1920px - Desktop large */
  --breakpoint-2xl: 120.0625rem; /* 1921px - Desktop extra large */
  
  --font-editorial: 'PP Editorial New', serif;
  --font-fraktion: 'PP Fraktion Sans', sans-serif;
  
  --color-outline: #c4c4c4;
  --color-fond: #f1f1f1;

  --spacing-circles: calc(100% - 2 * var(--line-margin));
}

.hidden-trick {
    position: relative;
    border: none;
    display: block;
    width: 0px;
    height: 0px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
