@import "tailwindcss";

body {
  font-family: var(--font-fraktion);
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 500;
  overflow-x: hidden;
}

:root{
  --line-margin: 1rem
}

@media only screen and (min-width: 640px){
	:root{
		--line-margin: 1.25rem
	}
}

@media only screen and (min-width: 1024px){
	:root{
		--line-margin: 2.5rem
	}
}

@font-face {
  font-family: 'PP Editorial New';
  src: url('/src/assets/fonts/PPEditorialNew-Ultralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Fraktion Sans';
  src: url('/src/assets/fonts/PPFraktionSans-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --breakpoint-xs: 20rem;		/* 320px - Mobile small */
  --breakpoint-sm: 40rem;		/* 640px - Mobile large */
  --breakpoint-md: 64rem;		/* 1024px - Tablet */
  --breakpoint-lg: 95rem;		/* 1520px - Desktop */
  --breakpoint-xl: 120rem;		/* 1920px - Desktop large */
  --breakpoint-2xl: 160rem;		/* 2560px - Desktop extra large */
  
  --font-editorial: 'PP Editorial New', serif;
  --font-fraktion: 'PP Fraktion Sans', sans-serif;
  
  --color-outline: #c4c4c4;
  --color-outlinedark: #3D3D3D;
  --color-fond: #f1f1f1;
  --color-fonddark: #101010;
  --color-labels: #727272;

  --spacing-circles: calc(100% - 2 * var(--line-margin));
  --spacing-halfscreen: 50svh;
}

.hidden-trick {
    position: relative;
    border: none;
    display: block;
    width: 0px;
    height: 0px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
