---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro'
import Hero from '../sections/Hero.astro';
import HorizontalLine from '../components/HorizontalLine.astro';
---

<Layout title="Horde - Home">
    <Container>
        <main>
            <Hero></Hero>
            <HorizontalLine class="mt-2"></HorizontalLine>
        </main>
    </Container>
</Layout>
