---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro'
import Hero from '../sections/Hero.astro';
import Physics from '../sections/Physics.astro';
import Services from '../sections/Services.astro';
import Project from '../sections/Project.astro';
import HorizontalLine from '../components/HorizontalLine.astro';
import BackgroundCanvas from '../components/BackgroundCanvas.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Horde - Home">
    <Container>
        <main>
            <Hero></Hero>
            <HorizontalLine class="mt-2"></HorizontalLine>
			<Physics></Physics>
            <Project></Project>
			<Services></Services>
            <HorizontalLine class="relative -mt-16 -z-10!"></HorizontalLine>
        </main>
        <Footer></Footer>
    </Container>
    <BackgroundCanvas></BackgroundCanvas>
</Layout>
