---
interface Props {
	tag?: 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'h6' | 'p';
	class?: string;
}

const { tag: Tag = 'h1', class: className = '' } = Astro.props;
---

<div class=`relative sm:flex sm:items-center sm:gap-8 ${className} md:max-w-[705px] lg:max-w-[800px] lg:gap-8 xl:max-w-[900px]`>
	<span class="quote-before absolute left-0 -top-5 sm:static sm:mr-(--line-margin) lg:mr-0">
		<svg class="sm:hidden" width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M7.20657 2.42398L9.60328 2.42398C9.60328 3.74766 10.6763 4.83185 12 4.83185L12 9.66406L7.20657 9.66406L7.20657 2.42398ZM-3.20727e-07 2.42398L2.39672 2.42398C2.39672 3.75381 3.48002 4.83185 4.80985 4.83185L4.80985 9.66406L-9.53674e-07 9.66406L-3.20727e-07 2.42398ZM9.60328 -0.000368328L12 -0.000368118L12 2.42399L9.60328 2.42398L9.60328 -0.000368328ZM2.39672 -0.000368958L4.80985 -0.000368747L4.80985 2.42398L2.39672 2.42398L2.39672 -0.000368958Z" fill="#101010"/>
		</svg>
		<svg class="hidden sm:block" width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M9.60876 3.23328L12.8044 3.23328C12.8044 4.99818 14.2351 6.44377 16 6.44377L16 12.8867L9.60875 12.8867L9.60876 3.23328ZM-1.06342e-06 3.23328L3.19562 3.23328C3.19562 5.00638 4.64003 6.44376 6.41313 6.44376L6.41313 12.8867L-1.90735e-06 12.8867L-1.06342e-06 3.23328ZM12.8044 0.000811297L16 0.000811577L16 3.23328L12.8044 3.23328L12.8044 0.000811297ZM3.19562 0.000810457L6.41313 0.000810739L6.41313 3.23328L3.19562 3.23328L3.19562 0.000810457Z" fill="#101010"/>
		</svg>
	</span>
	<Tag class={`font-editorial text-center font-[200] text-[1.25rem] leading-[1.4] sm:text-[1.875rem]`}>
		<slot />
	</Tag>
	<span class="quote-after absolute right-0 -top-5 sm:static sm:ml-(--line-margin) lg:ml-0">
		<svg class="sm:hidden" width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M4.79343 7.49147L2.39672 7.49147C2.39672 6.12184 1.32367 5 0 5L0 0L4.79343 0L4.79343 7.49147ZM12 7.49147L9.60328 7.49147C9.60328 6.11547 8.51998 5 7.19015 5L7.19015 0L12 0L12 7.49147ZM2.39672 10H0L0 7.49147H2.39672L2.39672 10ZM9.60328 10L7.19015 10V7.49147H9.60328V10Z" fill="#101010"/>
		</svg>
		<svg class="hidden sm:block" width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M6.39124 9.73891H3.19562C3.19562 7.95839 1.76489 6.5 0 6.5V0H6.39124V9.73891ZM16 9.73891H12.8044C12.8044 7.95011 11.36 6.5 9.58687 6.5V0H16V9.73891ZM3.19562 13H0V9.73891H3.19562V13ZM12.8044 13H9.58687V9.73891H12.8044V13Z" fill="#101010"/>
		</svg>
	</span>
</div>
