---
import TextLink from './TextLink.astro';
import Wrapped from './Wrapped.astro';

interface Props {
	class?: string;
}

const { class: className = '' } = Astro.props;
---

<footer class={`relative mt-8 flex flex-col gap-12 z-20 sm:mt-20 md:gap-24 lg:mt-24 lg:gap-44 2xl:gap-60 ${className}`} role="contentinfo">
	<svg class="w-full" viewBox="0 0 599 136" xmlns="http://www.w3.org/2000/svg">
		<path d="M135.73 27.2H121.639V13.1705H135.73V27.2Z"/>
		<path d="M0 133.333V129.833C5.37008 129.833 9.22983 129.5 11.5792 128.833C14.0405 128.167 15.6068 127 16.2781 125.333C17.0612 123.667 17.4528 121 17.4528 117.333V16C17.4528 12.3333 17.0612 9.66666 16.2781 8C15.6068 6.33333 14.0405 5.16666 11.5792 4.49999C9.22983 3.83333 5.37008 3.49999 0 3.49999V0H39.2687C51.5751 0 62.7069 2.66666 72.6639 8C82.7328 13.3333 90.6761 21.1111 96.4936 31.3333C102.311 41.5555 105.22 53.7222 105.22 67.8333C105.22 81.1667 102.535 92.7778 97.1649 102.667C91.9067 112.556 84.4669 120.167 74.8455 125.5C65.336 130.722 54.2602 133.333 41.6181 133.333H0ZM40.1078 127.667C52.0786 127.667 62.0916 125.056 70.1467 119.833C78.3137 114.5 84.355 107.389 88.2707 98.5C92.1864 89.6111 94.1442 79.6111 94.1442 68.5C94.1442 56.1667 91.7948 45.2778 87.096 35.8333C82.5091 26.2778 76.1321 18.8889 67.9651 13.6667C59.91 8.33333 50.848 5.66666 40.7791 5.66666C37.0871 5.66666 33.9546 5.94444 31.3814 6.5C29.032 6.94444 27.8573 8.44444 27.8573 11V120.5C27.8573 123.278 28.8082 125.167 30.7102 126.167C32.7239 127.167 35.8565 127.667 40.1078 127.667Z"/>
		<path d="M135.039 117.333C135.039 121 135.262 123.667 135.71 125.333C136.269 127 137.276 128.167 138.731 128.833C140.297 129.5 142.758 129.833 146.114 129.833V133.333H114.733V129.833C118.089 129.833 120.495 129.5 121.949 128.833C123.515 128.167 124.522 127 124.97 125.333C125.529 123.667 125.809 121 125.809 117.333V61.8333C125.809 57.6111 125.641 54.8333 125.305 53.5C124.97 52.1667 124.075 51.5 122.62 51.5C121.166 51.5 119.096 52.0555 116.411 53.1667L115.069 49.8333L127.319 45L133.025 42.8333L135.039 44.6667V117.333Z"/>
		<path d="M180.244 136C176.887 136 173.811 135.389 171.014 134.167C168.217 133.056 165.812 131.722 163.798 130.167C163.015 129.5 162.232 129.167 161.448 129.167C160.665 129.167 159.994 129.778 159.435 131L158.26 134.333H154.904L154.065 99.3333H157.253C158.26 109.444 160.833 117.167 164.973 122.5C169.112 127.722 173.979 130.333 179.572 130.333C183.712 130.333 186.844 128.944 188.97 126.167C191.208 123.278 192.326 119.444 192.326 114.667C192.326 111.778 191.767 109.333 190.648 107.333C189.641 105.222 187.907 103 185.446 100.667C183.097 98.2222 179.013 94.4444 173.196 89.3333C166.259 83.3333 161.504 78.5555 158.931 75C156.358 71.4444 155.072 67.5 155.072 63.1667C155.072 57.2778 156.917 52.4444 160.609 48.6667C164.413 44.7778 169.28 42.8333 175.209 42.8333C180.579 42.8333 185.39 44.6667 189.641 48.3333C190.425 49.1111 191.208 49.5 191.991 49.5C192.998 49.5 193.613 48.8333 193.837 47.5L194.508 44H197.864L198.2 72H194.844C194.172 65.1111 192.159 59.5 188.802 55.1667C185.558 50.7222 181.251 48.5 175.881 48.5C172.301 48.5 169.336 49.7222 166.986 52.1667C164.637 54.5 163.462 57.5556 163.462 61.3333C163.462 64.8889 164.525 68 166.651 70.6667C168.888 73.3333 173.14 77.2778 179.405 82.5C187.46 89.3889 193.054 94.9444 196.186 99.1667C199.319 103.389 200.885 108.222 200.885 113.667C200.885 120.778 198.871 126.278 194.844 130.167C190.928 134.056 186.061 136 180.244 136Z"/>
		<path d="M238.438 136C229.935 136 223.222 131.833 218.3 123.5C213.489 115.056 211.084 104.111 211.084 90.6667C211.084 81.5555 212.203 73.3889 214.44 66.1667C216.789 58.9444 220.202 53.2778 224.677 49.1667C229.152 44.9444 234.522 42.8333 240.787 42.8333C246.94 42.8333 251.863 44.8333 255.555 48.8333C259.359 52.7222 261.26 57.5556 261.26 63.3333C261.26 66.4444 260.645 68.8333 259.414 70.5C258.296 72.0556 256.673 72.8333 254.548 72.8333C252.646 72.8333 251.192 72.2778 250.185 71.1667C249.29 70.0555 248.842 68.6667 248.842 67C248.842 65.7778 249.01 64.5 249.346 63.1667C249.793 60.9444 250.017 59.1667 250.017 57.8333C250.017 54.8333 249.178 52.5556 247.5 51C245.821 49.3333 243.528 48.5 240.619 48.5C234.018 48.5 229.04 52.2778 225.684 59.8333C222.439 67.3889 220.817 76.5 220.817 87.1667C220.817 98.6111 222.663 108.167 226.355 115.833C230.047 123.5 235.081 127.333 241.458 127.333C245.71 127.333 249.569 125.056 253.037 120.5C256.618 115.944 259.079 108.389 260.421 97.8333H263.945C263.274 110.611 260.533 120.167 255.723 126.5C251.024 132.833 245.262 136 238.438 136Z"/>
		<path d="M321.182 134L320.847 120.667L320.343 120.5C317.546 124.944 314.022 128.667 309.771 131.667C305.52 134.556 300.988 136 296.178 136C290.92 136 286.948 134 284.263 130C281.578 126 280.235 120.556 280.235 113.667V63C280.235 58.8889 280.068 56.1667 279.732 54.8333C279.396 53.3889 278.445 52.6667 276.879 52.6667C275.76 52.6667 273.523 53.2222 270.166 54.3333L268.992 51L287.787 44.5L289.633 46.3333V112.5C289.633 122.722 293.045 127.833 299.87 127.833C303.338 127.833 306.918 126.611 310.61 124.167C314.414 121.722 317.826 118.611 320.847 114.833V63C320.847 58.8889 320.679 56.1667 320.343 54.8333C320.008 53.3889 319.057 52.6667 317.49 52.6667C316.372 52.6667 314.134 53.2222 310.778 54.3333L309.603 51L328.398 44.5L330.244 46.3333V116.833C330.244 120.833 330.412 123.556 330.748 125C331.083 126.333 331.922 127 333.265 127C334.719 127 337.069 126.278 340.313 124.833L341.656 128.167L328.398 133.667L323.364 135.833L321.182 134Z"/>
		<path d="M391.518 97.8333C391.518 110.722 390.175 120.333 387.49 126.667C384.805 132.889 379.994 136 373.058 136C367.24 136 362.933 133.778 360.136 129.333C357.451 124.778 356.109 117.111 356.109 106.333V51.3333H344.026V46.5C354.654 46.3889 360.36 38.2778 361.143 22.1667H365.339V45.6667H385.812V51.3333H365.506V100.5C365.506 109.944 366.122 116.944 367.352 121.5C368.583 125.944 371.324 128.167 375.575 128.167C379.603 128.167 382.624 125.722 384.637 120.833C386.651 115.833 387.658 108.167 387.658 97.8333H391.518Z"/>
		<path d="M431.366 136C425.325 136 419.899 134 415.088 130C410.277 125.889 406.529 120.333 403.844 113.333C401.159 106.333 399.817 98.5 399.817 89.8333C399.817 81.1667 401.047 73.2778 403.509 66.1667C406.082 58.9444 409.718 53.2778 414.417 49.1667C419.227 44.9444 424.877 42.8333 431.366 42.8333C437.407 42.8333 442.777 44.8889 447.476 49C452.287 53 456.035 58.5 458.72 65.5C461.405 72.5 462.747 80.3333 462.747 89C462.747 97.6667 461.461 105.611 458.888 112.833C456.426 119.944 452.846 125.611 448.147 129.833C443.449 133.944 437.855 136 431.366 136ZM433.548 130.167C439.925 130.167 444.735 126.833 447.98 120.167C451.336 113.5 453.014 105.5 453.014 96.1667C453.014 88.2778 452.063 80.7222 450.161 73.5C448.371 66.1667 445.686 60.2222 442.106 55.6667C438.526 51 434.219 48.6667 429.184 48.6667C422.695 48.6667 417.773 52 414.417 58.6667C411.172 65.3333 409.55 73.3889 409.55 82.8333C409.55 90.7222 410.445 98.3333 412.235 105.667C414.137 112.889 416.878 118.778 420.458 123.333C424.038 127.889 428.401 130.167 433.548 130.167Z"/>
		<path d="M471.226 129.833C474.47 129.833 476.82 129.5 478.274 128.833C479.84 128.167 480.847 127 481.295 125.333C481.854 123.667 482.134 121 482.134 117.333V61.8333C482.134 57.7222 481.966 55 481.63 53.6667C481.295 52.2222 480.456 51.5 479.113 51.5C477.771 51.5 475.533 52.1667 472.401 53.5L471.058 50.1667L489.182 42.8333L491.364 44.6667V58.6667H491.867C496.007 53.3333 499.866 49.3889 503.446 46.8333C507.026 44.1667 511.166 42.8333 515.865 42.8333C521.57 42.8333 525.822 44.8333 528.619 48.8333C531.416 52.8333 532.814 58.3333 532.814 65.3333V117.333C532.814 121 533.038 123.667 533.485 125.333C534.045 127 535.052 128.167 536.506 128.833C537.96 129.5 540.31 129.833 543.554 129.833V133.333H513.012V129.833C516.256 129.833 518.606 129.5 520.06 128.833C521.514 128.167 522.465 127 522.913 125.333C523.36 123.667 523.584 121 523.584 117.333V65.8333C523.584 60.9444 522.633 57.2778 520.731 54.8333C518.829 52.3889 516.088 51.1667 512.508 51.1667C508.816 51.1667 505.292 52.2778 501.936 54.5C498.692 56.7222 495.167 60 491.364 64.3333V117.333C491.364 121 491.587 123.667 492.035 125.333C492.482 127 493.433 128.167 494.888 128.833C496.342 129.5 498.692 129.833 501.936 129.833V133.333H471.226V129.833Z"/>
		<path d="M578.359 136C575.003 136 571.926 135.389 569.129 134.167C566.332 133.056 563.927 131.722 561.913 130.167C561.13 129.5 560.347 129.167 559.563 129.167C558.78 129.167 558.109 129.778 557.55 131L556.375 134.333H553.019L552.18 99.3333H555.368C556.375 109.444 558.948 117.167 563.088 122.5C567.227 127.722 572.094 130.333 577.688 130.333C581.827 130.333 584.959 128.944 587.085 126.167C589.323 123.278 590.441 119.444 590.441 114.667C590.441 111.778 589.882 109.333 588.763 107.333C587.756 105.222 586.022 103 583.561 100.667C581.212 98.2222 577.128 94.4444 571.31 89.3333C564.374 83.3333 559.619 78.5555 557.046 75C554.473 71.4444 553.186 67.5 553.186 63.1667C553.186 57.2778 555.032 52.4444 558.724 48.6667C562.528 44.7778 567.395 42.8333 573.324 42.8333C578.694 42.8333 583.505 44.6667 587.756 48.3333C588.539 49.1111 589.323 49.5 590.106 49.5C591.113 49.5 591.728 48.8333 591.952 47.5L592.623 44H595.979L596.315 72H592.959C592.287 65.1111 590.274 59.5 586.917 55.1667C583.673 50.7222 579.366 48.5 573.996 48.5C570.415 48.5 567.451 49.7222 565.101 52.1667C562.752 54.5 561.577 57.5556 561.577 61.3333C561.577 64.8889 562.64 68 564.766 70.6667C567.003 73.3333 571.255 77.2778 577.52 82.5C585.575 89.3889 591.169 94.9444 594.301 99.1667C597.434 103.389 599 108.222 599 113.667C599 120.778 596.986 126.278 592.959 130.167C589.043 134.056 584.176 136 578.359 136Z"/>
	</svg>

	<ul class="flex flex-col items-center text-center gap-5 mb-16 lg:grid lg:grid-cols-3 lg:items-center">
		<li class="lg:col-start-2 lg:justify-self-center">
			<TextLink href="mailto:hello@hordeagence.com" class='block! md:hidden!'>hello@hordeagence.com</TextLink>
			<a href="mailto:hello@hordeagence.com">
				<Wrapped class='hidden! md:flex!' padding='2rem'>
					<svg width="598" height="19" viewBox="0 0 598 19" xmlns="http://www.w3.org/2000/svg">
						<rect x="119.552" y="4.28125" width="3.67951" height="11.0386"/>
						<path d="M123.227 4.27913C123.227 2.24699 124.874 0.599609 126.907 0.599609H141.625V4.27913H123.227Z"/>
						<path d="M123.227 15.3184H141.625C141.625 17.3505 139.977 18.9979 137.945 18.9979H123.227V15.3184Z"/>
						<rect x="141.637" y="4.28125" width="3.67951" height="11.0386"/>
						<rect x="63.4604" y="15.3184" width="22.0778" height="3.67931"/>
						<path d="M59.7881 0.599609H63.4677V15.3169C61.4355 15.3169 59.7881 13.6694 59.7881 11.6372V0.599609Z"/>
						<rect x="93.3452" y="15.3184" width="22.0778" height="3.67931"/>
						<path d="M89.6699 0.599609H93.3496V15.3169C91.3174 15.3169 89.6699 13.6694 89.6699 11.6372V0.599609Z"/>
						<path d="M33.5762 4.27913C33.5762 2.24699 35.2236 0.599609 37.2557 0.599609H55.6532V4.27913H33.5762Z"/>
						<rect x="33.3359" y="7.96094" width="22.3224" height="3.67952"/>
						<rect x="29.8975" y="4.28125" width="3.67951" height="11.0386"/>
						<path d="M33.5762 15.3184H55.6532V18.9979H37.2557C35.2235 18.9979 33.5762 17.3505 33.5762 15.3184Z"/>
						<path d="M0 0.599609H3.65653V7.9958C1.63709 7.9958 0 6.35872 0 4.33927V0.599609Z"/>
						<path d="M22.1113 0.599609H25.7679V4.33927C25.7679 6.35872 24.1308 7.9958 22.1113 7.9958V0.599609Z"/>
						<path d="M25.7603 11.6758H25.7593V18.9961H22.103V11.6758H3.66064V18.9961H0.00341797V7.99609H25.7603V11.6758Z"/>
						<path d="M158.463 18.9992C156.659 18.9992 155.07 18.609 153.698 17.8286C152.34 17.0483 151.289 15.9452 150.543 14.5195C149.812 13.0788 149.447 11.4055 149.447 9.4996C149.447 7.6387 149.835 5.9879 150.61 4.5472C151.401 3.1065 152.49 1.98846 153.877 1.19308C155.264 0.397693 156.845 0 158.62 0C160.365 0 161.901 0.375182 163.229 1.12554C164.556 1.8609 165.578 2.8964 166.294 4.23205C167.025 5.55269 167.39 7.06842 167.39 8.77925C167.39 10.5051 166.965 11.8107 166.115 12.6961C165.28 13.5666 164.176 14.0018 162.804 14.0018H160.723L160.589 12.3585H160.365C160.126 12.9438 159.761 13.394 159.269 13.7091C158.777 14.0243 158.187 14.1819 157.501 14.1819H157.434C156.987 14.1819 156.554 14.0918 156.136 13.9117C155.719 13.7316 155.368 13.454 155.085 13.0788C154.816 12.6886 154.682 12.1934 154.682 11.5931V11.458C154.682 10.6326 154.973 10.0098 155.555 9.58964C156.151 9.15443 157.031 8.86179 158.195 8.71171L161.26 8.30652L161.372 9.58964L158.172 10.0173C157.516 10.1224 157.024 10.28 156.696 10.4901C156.383 10.6852 156.226 10.9778 156.226 11.368V11.5031C156.226 11.9083 156.353 12.2234 156.606 12.4485C156.875 12.6586 157.225 12.7637 157.658 12.7637H157.725C158.322 12.7637 158.821 12.6586 159.224 12.4485C159.627 12.2384 159.94 11.8782 160.164 11.368C160.402 10.8427 160.522 10.1224 160.522 9.20695V8.28401C160.522 7.60868 160.358 7.08343 160.029 6.70825C159.716 6.31806 159.269 6.12296 158.687 6.12296H158.598C158.001 6.12296 157.539 6.28054 157.21 6.59569C156.882 6.89584 156.703 7.33855 156.673 7.92383H155.107C155.152 6.93335 155.495 6.14547 156.136 5.56019C156.778 4.97491 157.628 4.68227 158.687 4.68227H158.732C159.821 4.68227 160.641 5.01243 161.193 5.67275C161.76 6.33306 162.043 7.241 162.043 8.39656V12.4035H162.916C163.811 12.4035 164.512 12.1184 165.019 11.5481C165.541 10.9628 165.802 10.0399 165.802 8.77925C165.802 7.35356 165.511 6.10045 164.929 5.01993C164.348 3.9244 163.512 3.07649 162.423 2.4762C161.35 1.8609 160.089 1.55325 158.642 1.55325C157.151 1.55325 155.831 1.88341 154.682 2.54373C153.534 3.18904 152.639 4.11949 151.997 5.33508C151.356 6.53566 151.035 7.92383 151.035 9.4996C151.035 11.1204 151.334 12.5311 151.93 13.7316C152.542 14.9172 153.407 15.8327 154.526 16.478C155.644 17.1233 156.957 17.4459 158.463 17.4459C160.432 17.4459 162.051 16.9282 163.318 15.8927L164.258 17.1533C163.527 17.7386 162.67 18.1888 161.685 18.504C160.701 18.8341 159.627 18.9992 158.463 18.9992Z"/>
						<path d="M294.786 4.27913C294.786 2.24699 296.434 0.599609 298.466 0.599609H316.863V4.27913H294.786Z"/>
						<rect x="294.549" y="7.96094" width="22.3224" height="3.67952"/>
						<rect x="291.111" y="4.28125" width="3.67951" height="11.0386"/>
						<path d="M294.786 15.3184H316.863V18.9979H298.466C296.434 18.9979 294.786 17.3505 294.786 15.3184Z"/>
						<rect x="261.217" y="0.599609" width="3.67951" height="18.3976"/>
						<path d="M264.527 15.3184H283.292C283.292 17.3505 281.645 18.9979 279.613 18.9979H264.527V15.3184Z"/>
						<path d="M264.527 0.599609H279.613C281.645 0.599609 283.292 2.24699 283.292 4.27913H264.527V0.599609Z"/>
						<rect x="283.301" y="4.28125" width="3.67951" height="11.0386"/>
						<path d="M234.991 7.96484H253.388V11.6445H234.991V19.001H231.311V4.2832H234.991V7.96484Z"/>
						<rect x="253.396" y="11.6406" width="3.67951" height="7.35905"/>
						<path d="M257.076 7.96289H253.396V4.2832H257.076V7.96289ZM253.408 0.601562C255.44 0.601617 257.087 2.24835 257.087 4.28027H235.01V0.601562H253.408Z"/>
						<rect x="201.417" y="4.28125" width="3.67951" height="11.0386"/>
						<path d="M205.095 4.27913C205.095 2.24699 206.742 0.599609 208.774 0.599609H223.492V4.27913H205.095Z"/>
						<path d="M205.095 15.3184H223.492C223.492 17.3505 221.845 18.9979 219.813 18.9979H205.095V15.3184Z"/>
						<rect x="223.501" y="4.28125" width="3.67951" height="11.0386"/>
						<path d="M171.52 0.599609H175.177V7.9958C173.157 7.9958 171.52 6.35872 171.52 4.33927V0.599609Z"/>
						<path d="M193.625 0.599609H197.282V4.33927C197.282 6.35872 195.645 7.9958 193.625 7.9958V0.599609Z"/>
						<path d="M197.28 11.0176H197.286V18.9961H193.629V11.6758H175.18V18.9961H171.523V7.99609H197.28V11.0176Z"/>
						<path d="M471.859 4.27718C471.859 2.24503 473.507 0.597656 475.539 0.597656H493.936V4.27718H471.859Z"/>
						<rect x="471.622" y="7.95898" width="22.3224" height="3.67952"/>
						<rect x="468.184" y="4.27734" width="3.67951" height="11.0386"/>
						<path d="M471.859 15.3184H493.936V18.9979H475.539C473.507 18.9979 471.859 17.3505 471.859 15.3184Z"/>
						<path d="M464.475 0.599609V4.2793H442.402V15.3174C440.37 15.3174 438.722 13.6698 438.722 11.6377V0.599609H464.475Z"/>
						<rect x="442.41" y="15.3184" width="22.0771" height="3.67952"/>
						<rect x="409.302" y="0.597656" width="3.67951" height="18.3976"/>
						<rect x="412.49" y="0.597656" width="18.8882" height="3.67952"/>
						<path d="M431.371 4.28125C433.403 4.28125 435.051 5.92862 435.051 7.96076V18.9993H431.371V4.28125Z"/>
						<path d="M383.554 4.27718C383.554 2.24503 385.201 0.597656 387.233 0.597656H405.631V4.27718H383.554Z"/>
						<rect x="383.316" y="7.95898" width="22.3224" height="3.67952"/>
						<rect x="379.878" y="4.28125" width="3.67951" height="11.0386"/>
						<path d="M383.554 15.3184H405.631V18.9979H387.233C385.201 18.9979 383.554 17.3505 383.554 15.3184Z"/>
						<path d="M350.425 4.28125H354.105V15.3198C352.073 15.3198 350.425 13.6725 350.425 11.6403V4.28125Z"/>
						<path d="M354.101 15.3184H372.498C372.498 17.3505 370.851 18.9979 368.819 18.9979H354.101V15.3184Z"/>
						<path d="M354.101 4.27718C354.101 2.24503 355.748 0.597656 357.78 0.597656H376.178V4.27718H354.101Z"/>
						<rect x="372.495" y="11.1465" width="3.67951" height="4.17013"/>
						<rect x="357.794" y="7.95898" width="18.3976" height="3.67952"/>
						<rect x="321.002" y="4.28125" width="3.67951" height="14.7181"/>
						<rect x="324.068" y="7.95898" width="19.6241" height="3.67952"/>
						<path d="M324.677 4.27718C324.677 2.24503 326.325 0.597656 328.357 0.597656H343.075V4.27718H324.677Z"/>
						<rect x="343.086" y="4.28125" width="3.67951" height="14.7181"/>
						<rect x="498.074" y="15.832" width="3.16652" height="3.16653"/>
						<rect x="564.185" y="3.54492" width="3.67931" height="15.4532"/>
						<rect x="582.57" y="0.599609" width="11.0379" height="3.67933"/>
						<rect x="578.907" y="4.2793" width="3.67931" height="14.7173"/>
						<path d="M593.617 4.2793C595.649 4.2793 597.296 5.92658 597.296 7.9586V18.9966H593.617V4.2793Z"/>
						<rect x="564.185" y="0.599609" width="14.7172" height="3.67933"/>
						<rect x="534.777" y="4.28125" width="3.67951" height="11.0386"/>
						<path d="M538.452 4.27913C538.452 2.24699 540.1 0.599609 542.132 0.599609H556.85V4.27913H538.452Z"/>
						<path d="M538.452 15.3184H556.85C556.85 17.3505 555.202 18.9979 553.17 18.9979H538.452V15.3184Z"/>
						<rect x="556.861" y="4.28125" width="3.67951" height="11.0386"/>
						<path d="M531.121 0.601562V4.28125H509.05V15.3193C507.018 15.3193 505.371 13.6725 505.371 11.6406V0.601562H531.121Z"/>
						<rect x="509.049" y="15.3184" width="22.0771" height="3.67952"/>
					</svg>
				</Wrapped>
			</a>
		</li>
		<li class="lg:justify-self-end">
			<a href="#">Horde Agence E.I.</a>
		</li>
		<li class="lg:col-start-1 lg:row-start-1 lg:justify-self-start">
			<a href="/politique-des-cookies">Politique Des Cookies</a>
		</li>
	</ul>
</footer>
