---
const { class: className = '' } = Astro.props;
---

<div class=`relative w-screen left-1/2 -translate-1/2 z-10 ${className}`>
	<div class="w-full h-px bg-outline"></div>
	<svg class="absolute top-0 -translate-1/2 left-(--line-margin) ml-px z-10" width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
		<rect width="7" height="7" fill="#101010"/>
	</svg>

	<svg class="absolute top-0 -translate-y-1/2 translate-x-1/2 right-(--line-margin) mr-px z-10" width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
		<rect width="7" height="7" fill="#101010"/>
	</svg>
</div>
