---
interface Props {
	device?: 'all' | 'xs' | 'sm' | 'md' | 'lg' | 'xl' | '2xl';
	padding?: string;
	class?: string;
}

const { device = 'all', padding = '0.5rem', class: className = '' } = Astro.props;

const deviceClass = {
	all: '!flex',
	xs: 'xs:flex',
	sm: 'sm:flex',
	md: 'md:flex',
	lg: 'lg:flex',
	xl: 'xl:flex',
	'2xl': '2xl:flex'
}[device];
---

<div class={`hidden ${deviceClass} items-center ${className}`}>
	<span class="bracket" style={`padding-right: ${padding};`}>
		<svg width="3" height="13" viewBox="0 0 3 13" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
			<path d="M0 12.7004V0H2.478V0.810048H0.854V11.8904H2.478V12.7004H0Z"/>
		</svg>
	</span>
	<slot />
	<span class="bracket" style={`padding-left: ${padding};`}>
		<svg width="3" height="13" viewBox="0 0 3 13" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
			<path d="M2.478 12.7004H0V11.8904H1.62399V0.810048H0V0H2.478V12.7004Z"/>
		</svg>
	</span>
</div>

<div class={deviceClass?.replace('flex', 'hidden').replace('!', '')}>
	<slot />
</div>
