---
import DisplayText from '../components/DisplayText.astro';
import Wrapped from '../components/Wrapped.astro';
import Weather from '../components/Weather.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class='relative h-svh flex flex-col justify-between before:content-[""] before:mt-8 md:items-center'>
	<span class="absolute h-svh w-circles border border-outline -top-(--line-margin) left-1/2 -translate-x-1/2 rounded-b-full"></span>
	<DisplayText class='mx-[calc(2*var(--line-margin))]' tag='h2'>
		{t('hero.description')}
	</DisplayText>
	<div class="flex flex-col gap-8 items-center mb-20 sm:gap-12 md:w-full lg:gap-20 xl:gap-36">
		<div class="relative w-full z-10 lg:flex lg:flex-col lg:items-center" role="presentation" aria-hidden="true">
			<svg class="w-full lg:max-w-[85%]" viewBox="0 0 290 68" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M228.321 43.0708C228.321 39.663 231.084 36.9004 234.491 36.9004H265.343V43.0708H228.321Z" fill="#101010"/>
				<rect x="227.908" y="49.2402" width="37.4336" height="6.17037" fill="#101010"/>
				<rect x="222.15" y="43.0723" width="6.17037" height="18.5111" fill="#101010"/>
				<path d="M228.321 61.584H265.343V67.7544H234.491C231.084 67.7544 228.321 64.9918 228.321 61.584Z" fill="#101010"/>
				<rect x="172.796" y="36.9004" width="6.17037" height="30.8519" fill="#101010"/>
				<path d="M178.349 61.584H209.818C209.818 64.9918 207.055 67.7544 203.647 67.7544H178.349V61.584Z" fill="#101010"/>
				<path d="M178.349 36.9004H203.647C207.055 36.9004 209.818 39.663 209.818 43.0708H178.349V36.9004Z" fill="#101010"/>
				<rect x="209.819" y="43.0703" width="6.17037" height="18.5111" fill="#101010"/>
				<rect x="74.0688" y="43.0703" width="6.17037" height="18.5111" fill="#101010"/>
				<path d="M80.24 43.0708C80.24 39.663 83.0026 36.9004 86.4104 36.9004H111.092V43.0708H80.24Z" fill="#101010"/>
				<path d="M80.24 61.584H111.092C111.092 64.9918 108.329 67.7544 104.921 67.7544H80.24V61.584Z" fill="#101010"/>
				<rect x="111.092" y="43.0703" width="6.17037" height="18.5111" fill="#101010"/>
				<path d="M129.603 49.2383H160.455V55.4092H129.603V67.75H123.433V43.0684H129.603V49.2383Z" fill="#101010"/>
				<rect x="160.454" y="55.4102" width="6.17037" height="12.3407" fill="#101010"/>
				<path d="M160.453 36.8984C163.86 36.8984 166.623 39.6599 166.624 43.0664V49.2373H160.453V43.0693H129.602V36.8984H160.453Z" fill="#101010"/>
				<path d="M24.7017 36.9004H30.8335V49.3034C27.447 49.3034 24.7017 46.5581 24.7017 43.1716V36.9004Z" fill="#101010"/>
				<path d="M61.7729 36.9004H67.9048V43.1716C67.9048 46.5581 65.1595 49.3034 61.7729 49.3034V36.9004Z" fill="#101010"/>
				<path d="M67.8979 54.9277H67.9028V67.749H61.771V55.4717H30.8335V67.749H24.7017V54.9277H24.7056V49.3008H67.8979V54.9277Z" fill="#101010"/>
				<path d="M104.896 6.17232C104.896 2.76452 107.659 0.00195312 111.067 0.00195312H141.918V6.17232H104.896Z" fill="#101010"/>
				<rect x="104.483" y="12.3438" width="37.4336" height="6.17037" fill="#101010"/>
				<rect x="98.7253" y="6.16992" width="6.17037" height="18.5111" fill="#101010"/>
				<path d="M104.896 24.6816H141.918V30.852H111.067C107.659 30.852 104.896 28.0894 104.896 24.6816Z" fill="#101010"/>
				<path d="M240.644 0V6.16992H203.62V24.6816C200.213 24.6814 197.45 21.9184 197.45 18.5107V0H240.644Z" fill="#101010"/>
				<rect x="203.621" y="24.6797" width="37.0222" height="6.17037" fill="#101010"/>
				<rect x="148.088" y="0.00195312" width="6.17037" height="30.8519" fill="#101010"/>
				<rect x="153.437" y="0.00195312" width="31.6746" height="6.17037" fill="#101010"/>
				<path d="M185.11 6.16992C188.518 6.16992 191.281 8.93249 191.281 12.3403V30.8514H185.11V6.16992Z" fill="#101010"/>
				<path d="M252.978 6.21725C252.978 2.80945 255.741 0.046875 259.148 0.046875H290V6.21725H252.978Z" fill="#101010"/>
				<rect x="252.563" y="12.3887" width="37.4336" height="6.17037" fill="#101010"/>
				<rect x="246.806" y="6.2168" width="6.17037" height="18.5111" fill="#101010"/>
				<path d="M252.978 24.7285H290V30.8989H259.148C255.741 30.8989 252.978 28.1363 252.978 24.7285Z" fill="#101010"/>
				<path d="M49.3623 6.16992H55.5327V24.681C52.1249 24.681 49.3623 21.9185 49.3623 18.5107V6.16992Z" fill="#101010"/>
				<path d="M55.5332 24.6816H86.3851C86.3851 28.0894 83.6225 30.852 80.2147 30.852H55.5332V24.6816Z" fill="#101010"/>
				<path d="M55.5332 6.17232C55.5332 2.76452 58.2958 0.00195312 61.7036 0.00195312H92.5554V6.17232H55.5332Z" fill="#101010"/>
				<rect x="86.3853" y="17.6895" width="6.17037" height="6.99309" fill="#101010"/>
				<rect x="61.7041" y="12.3438" width="30.8519" height="6.17037" fill="#101010"/>
				<rect y="6.16797" width="6.17037" height="24.6815" fill="#101010"/>
				<rect x="5.14209" y="12.3398" width="32.9087" height="6.17037" fill="#101010"/>
				<path d="M6.17041 6.17037C6.17041 2.76257 8.93298 0 12.3408 0H37.0223V6.17037H6.17041Z" fill="#101010"/>
				<rect x="37.022" y="6.16797" width="6.17037" height="24.6815" fill="#101010"/>
			</svg>
			<span class="hidden-trick">Agence Horde</span>
		</div>
		<div class="lg:grid grid-cols-3 items-center lg:w-[calc(100%+2*var(--line-margin))] xl:w-[calc(100%+4*var(--line-margin))]">
			<Weather class="hidden lg:flex lg:justify-self-start"></Weather>
			<Wrapped device='all' padding='0.625rem' class='lg:justify-self-center'>
				↓
			</Wrapped>
			<p class="hidden lg:block lg:justify-self-end">{t('hero.subtitle')}</p>
		</div>
	</div>
</section>
