---
import Carousel from '../components/Carousel.astro';
---

<section id="projects" class="my-60 flex flex-col gap-16">
  <Carousel text="Tous Les Projets"/>
  <div class="relative z-10 flex flex-col items-center gap-16">
	<a href="#">
		<img class="max-w-[200px]" src="work1.jpg" alt="work 1">
	</a>
	<a href="#">
		<img class="max-w-[200px]" src="work2.jpg" alt="work 1">
	</a>
	<a href="#">
		<img class="max-w-[200px]" src="work3.jpg" alt="work 1">
	</a>
  </div>
</section>

