---
import DisplayText from '../components/DisplayText.astro';
import HorizontalLine from '../components/HorizontalLine.astro';
---

<section class="relative overflow-hidden">
	<div class="relative border border-outline rounded-full min-h-svh mx-4 bg-fond p-8 md:p-16 touch-action-pan-y">
		<div class="relative flex flex-col gap-8 z-10 my-40">
			<DisplayText tag='h2' class=''>Nous aimons garder les choses simples.</DisplayText>
			
			<div class="m-8 flex flex-col gap-16 text-center">
				<div class="flex flex-col items-center gap-5">
					<svg width="98" height="76" viewBox="0 0 98 76" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.6204 35.5062C9.11943 36.1612 3.2051 31.5694 2.28134 25.0415L0.566314 12.922L12.1917 11.2769L15.6204 35.5062Z" stroke="#C4C4C4"/>
						<path d="M76.258 2.21102L87.8834 0.565921L89.5984 12.6854C90.5222 19.2135 86.1143 25.266 79.6866 26.4403L76.258 2.21102Z" stroke="#C4C4C4"/>
						<path d="M20.9762 73.3621L9.35079 75.0072L7.63576 62.8877C6.71198 56.3596 11.1199 50.3071 17.5475 49.1327L20.9762 73.3621Z" stroke="#C4C4C4"/>
						<path d="M85.0417 64.2967L81.6131 40.0683C88.1141 39.4132 94.0279 44.0033 94.9519 50.5311L96.6671 62.6516L85.0417 64.2967Z" stroke="#C4C4C4"/>
						<rect x="44.4224" y="57.1789" width="11.7409" height="11.7409" transform="rotate(171.946 44.4224 57.1789)" stroke="#C4C4C4"/>
						<rect x="40.8521" y="31.9465" width="11.7409" height="11.7409" transform="rotate(171.946 40.8521 31.9465)" stroke="#C4C4C4"/>
						<rect x="69.6539" y="53.6066" width="11.7409" height="11.7409" transform="rotate(171.946 69.6539 53.6066)" stroke="#C4C4C4"/>
						<rect x="66.0816" y="28.3762" width="11.7409" height="11.7409" transform="rotate(171.946 66.0816 28.3762)" stroke="#C4C4C4"/>
						<rect x="80.4827" y="39.2063" width="11.7409" height="11.7409" transform="rotate(171.946 80.4827 39.2063)" stroke="#C4C4C4"/>
						<rect x="30.0213" y="46.3469" width="11.7409" height="11.7409" transform="rotate(171.946 30.0213 46.3469)" stroke="#C4C4C4"/>
						<rect x="55.2513" y="42.7766" width="11.7409" height="11.7409" transform="rotate(171.946 55.2513 42.7766)" stroke="#C4C4C4"/>
					</svg>
					<h3 class="text-[2.25rem] font-editorial relative pb-2">Technologie</h3>
					<ul class="flex flex-col leading-6 text-lg opacity-80 list-none p-0">
						<li class="relative">Cutting Edge Frameworks</li>
						<li class="relative">SQL & noSQL</li>
						<li class="relative">N8N</li>
						<li class="relative">Docker</li>
						<li class="relative">AI Powered Workflows</li>
					</ul>
				</div>

				<div class="flex flex-col items-center gap-4">
					<svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M46.6539 65.7844L46.7274 66.2789L47.222 66.2054L47.1484 65.7108L46.6539 65.7844ZM34.3429 67.6146L33.8483 67.6881L33.9218 68.1827L34.4164 68.1092L34.3429 67.6146ZM32.5125 55.3027L32.439 54.8081L31.9444 54.8816L32.0179 55.3762L32.5125 55.3027ZM44.8235 53.4724L45.318 53.3989L45.2445 52.9043L44.7499 52.9779L44.8235 53.4724ZM22.0287 69.4434L22.1022 69.9379L22.5968 69.8644L22.5233 69.3699L22.0287 69.4434ZM9.71773 71.2736L9.22317 71.3472L9.29669 71.8417L9.79126 71.7682L9.71773 71.2736ZM7.88748 58.9627L7.81395 58.4681L7.31939 58.5416L7.39291 59.0362L7.88748 58.9627ZM20.1985 57.1324L20.693 57.0589L20.6195 56.5643L20.1249 56.6378L20.1985 57.1324ZM57.1353 51.6411L56.6407 51.7146L56.7142 52.2091L57.2088 52.1356L57.1353 51.6411ZM69.4462 49.8108L69.9408 49.7373L69.8673 49.2427L69.3727 49.3162L69.4462 49.8108ZM71.2765 62.1218L71.35 62.6163L71.8446 62.5428L71.7711 62.0483L71.2765 62.1218ZM58.9655 63.952L58.471 64.0256L58.5445 64.5201L59.039 64.4466L58.9655 63.952ZM57.1356 51.643L57.6301 51.5695L57.5566 51.0749L57.062 51.1484L57.1356 51.643ZM44.8246 53.4732L44.33 53.5468L44.4035 54.0413L44.8981 53.9678L44.8246 53.4732ZM55.3053 39.332L55.7999 39.2585L55.7263 38.7639L55.2318 38.8374L55.3053 39.332ZM18.3714 44.8229L18.2979 44.3284L17.8033 44.4019L17.8768 44.8964L18.3714 44.8229ZM32.5126 55.3036L32.5861 55.7982L33.0807 55.7247L33.0072 55.2301L32.5126 55.3036ZM20.2016 57.1339L19.7071 57.2074L19.7806 57.702L20.2752 57.6285L20.2016 57.1339ZM18.3721 44.8208L18.4456 45.3154L18.9402 45.2419L18.8666 44.7473L18.3721 44.8208ZM6.06108 46.6511L5.56652 46.7246L5.64004 47.2192L6.13461 47.1457L6.06108 46.6511ZM4.23083 34.3401L4.1573 33.8456L3.66274 33.9191L3.73626 34.4136L4.23083 34.3401ZM16.5418 32.5099L17.0364 32.4363L16.9628 31.9418L16.4683 32.0153L16.5418 32.5099ZM67.6112 37.5005L67.6847 37.9951L68.1792 37.9216L68.1057 37.427L67.6112 37.5005ZM55.3002 39.3308L54.8056 39.4043L54.8791 39.8989L55.3737 39.8254L55.3002 39.3308ZM53.4699 27.0198L53.3964 26.5252L52.9018 26.5988L52.9754 27.0933L53.4699 27.0198ZM65.7809 25.1896L66.2755 25.116L66.2019 24.6215L65.7074 24.695L65.7809 25.1896ZM63.9497 12.8787L64.0232 13.3733L64.5178 13.2998L64.4442 12.8052L63.9497 12.8787ZM51.6493 14.7074L51.5758 14.2128L51.0812 14.2864L51.1548 14.7809L51.6493 14.7074ZM53.4796 27.0184L53.5531 27.5129L54.0477 27.4394L53.9741 26.9448L53.4796 27.0184ZM39.3372 16.5368L39.2637 16.0423L38.7691 16.1158L38.8427 16.6104L39.3372 16.5368ZM51.6376 14.7081L51.7111 15.2027L52.2057 15.1292L52.1322 14.6346L51.6376 14.7081ZM49.8075 2.39813L49.7339 1.90357L49.2394 1.9771L49.3129 2.47166L49.8075 2.39813ZM62.1194 0.567733L62.614 0.494207L62.5405 -0.000357456L62.0459 0.0731687L62.1194 0.567733ZM14.7093 20.1972L14.2148 20.2708L14.2883 20.7653L14.7829 20.6918L14.7093 20.1972ZM16.5348 32.5089L16.0402 32.5825L16.1137 33.077L16.6083 33.0035L16.5348 32.5089ZM14.7045 20.198L15.1991 20.1244L15.1255 19.6299L14.631 19.7034L14.7045 20.198ZM2.39835 22.0275L1.90379 22.101L1.97731 22.5956L2.47188 22.5221L2.39835 22.0275ZM0.568094 9.71651L0.494568 9.22195L3.48047e-06 9.29547L0.0735297 9.79004L0.568094 9.71651ZM12.8791 7.88625L13.3736 7.81273L13.3001 7.31816L12.8055 7.39169L12.8791 7.88625ZM39.3265 16.5374L39.4 17.032L39.8946 16.9585L39.821 16.4639L39.3265 16.5374ZM25.1852 6.05671L25.1117 5.56215L24.6171 5.63568L24.6907 6.13024L25.1852 6.05671ZM37.4962 4.22646L37.9908 4.15293L37.9172 3.65837L37.4227 3.73189L37.4962 4.22646ZM46.6539 65.7844L46.5803 65.2898L34.2694 67.1201L34.3429 67.6146L34.4164 68.1092L46.7274 66.2789L46.6539 65.7844ZM34.3429 67.6146L34.8374 67.5411L33.007 55.2291L32.5125 55.3027L32.0179 55.3762L33.8483 67.6881L34.3429 67.6146ZM32.5125 55.3027L32.586 55.7972L44.897 53.967L44.8235 53.4724L44.7499 52.9779L32.439 54.8081L32.5125 55.3027ZM44.8235 53.4724L44.3289 53.5459L46.1593 65.8579L46.6539 65.7844L47.1484 65.7108L45.318 53.3989L44.8235 53.4724ZM22.0287 69.4434L21.9552 68.9488L9.64421 70.7791L9.71773 71.2736L9.79126 71.7682L22.1022 69.9379L22.0287 69.4434ZM9.71773 71.2736L10.2123 71.2001L8.38204 58.8891L7.88748 58.9627L7.39291 59.0362L9.22317 71.3472L9.71773 71.2736ZM7.88748 58.9627L7.961 59.4572L20.272 57.627L20.1985 57.1324L20.1249 56.6378L7.81395 58.4681L7.88748 58.9627ZM20.1985 57.1324L19.7039 57.2059L21.5341 69.5169L22.0287 69.4434L22.5233 69.3699L20.693 57.0589L20.1985 57.1324ZM57.1353 51.6411L57.2088 52.1356L69.5198 50.3054L69.4462 49.8108L69.3727 49.3162L57.0617 51.1465L57.1353 51.6411ZM69.4462 49.8108L68.9517 49.8843L70.7819 62.1953L71.2765 62.1218L71.7711 62.0483L69.9408 49.7373L69.4462 49.8108ZM71.2765 62.1218L71.203 61.6272L58.892 63.4575L58.9655 63.952L59.039 64.4466L71.35 62.6163L71.2765 62.1218ZM58.9655 63.952L59.4601 63.8785L57.6301 51.5695L57.1356 51.643L56.641 51.7165L58.471 64.0256L58.9655 63.952ZM57.1356 51.643L57.062 51.1484L44.751 52.9787L44.8246 53.4732L44.8981 53.9678L57.2091 52.1375L57.1356 51.643ZM44.8246 53.4732L45.3191 53.3997C44.3491 46.8738 48.853 40.7969 55.3788 39.8266L55.3053 39.332L55.2318 38.8374C48.1597 39.889 43.2788 46.4746 44.33 53.5468L44.8246 53.4732ZM55.3053 39.332L54.8107 39.4055L56.6407 51.7146L57.1353 51.6411L57.6298 51.5675L55.7999 39.2585L55.3053 39.332ZM18.3714 44.8229L18.4449 45.3175C24.9709 44.3473 31.0477 48.8512 32.0181 55.3772L32.5126 55.3036L33.0072 55.2301C31.9556 48.1579 25.3702 43.2769 18.2979 44.3284L18.3714 44.8229ZM32.5126 55.3036L32.4391 54.8091L20.1281 56.6393L20.2016 57.1339L20.2752 57.6285L32.5861 55.7982L32.5126 55.3036ZM20.2016 57.1339L20.6962 57.0604L18.8659 44.7494L18.3714 44.8229L17.8768 44.8964L19.7071 57.2074L20.2016 57.1339ZM18.3721 44.8208L18.2985 44.3263L5.98756 46.1565L6.06108 46.6511L6.13461 47.1457L18.4456 45.3154L18.3721 44.8208ZM6.06108 46.6511L6.55565 46.5776L4.72539 34.2666L4.23083 34.3401L3.73626 34.4136L5.56652 46.7246L6.06108 46.6511ZM4.23083 34.3401L4.30435 34.8347L16.6153 33.0044L16.5418 32.5099L16.4683 32.0153L4.1573 33.8456L4.23083 34.3401ZM16.5418 32.5099L16.0472 32.5834L17.8775 44.8944L18.3721 44.8208L18.8666 44.7473L17.0364 32.4363L16.5418 32.5099ZM67.6112 37.5005L67.5376 37.006L55.2267 38.8362L55.3002 39.3308L55.3737 39.8254L67.6847 37.9951L67.6112 37.5005ZM55.3002 39.3308L55.7947 39.2573L53.9645 26.9463L53.4699 27.0198L52.9754 27.0933L54.8056 39.4043L55.3002 39.3308ZM53.4699 27.0198L53.5434 27.5144L65.8544 25.6841L65.7809 25.1896L65.7074 24.695L53.3964 26.5252L53.4699 27.0198ZM65.7809 25.1896L65.2863 25.2631L67.1166 37.5741L67.6112 37.5005L68.1057 37.427L66.2755 25.116L65.7809 25.1896ZM63.9497 12.8787L63.8762 12.3841L51.5758 14.2128L51.6493 14.7074L51.7228 15.202L64.0232 13.3733L63.9497 12.8787ZM51.6493 14.7074L51.1548 14.7809L52.985 27.0919L53.4796 27.0184L53.9741 26.9448L52.1439 14.6339L51.6493 14.7074ZM53.4796 27.0184L53.4061 26.5238C46.88 27.494 40.802 22.9894 39.8318 16.4633L39.3372 16.5368L38.8427 16.6104C39.8941 23.6827 46.4807 28.5644 53.5531 27.5129L53.4796 27.0184ZM39.3372 16.5368L39.4108 17.0314L51.7111 15.2027L51.6376 14.7081L51.5641 14.2136L39.2637 16.0423L39.3372 16.5368ZM51.6376 14.7081L52.1322 14.6346L50.302 2.32461L49.8075 2.39813L49.3129 2.47166L51.143 14.7817L51.6376 14.7081ZM49.8075 2.39813L49.881 2.8927L62.1929 1.0623L62.1194 0.567733L62.0459 0.0731687L49.7339 1.90357L49.8075 2.39813ZM62.1194 0.567733L61.6249 0.641259L63.4551 12.9522L63.9497 12.8787L64.4442 12.8052L62.614 0.494207L62.1194 0.567733ZM14.7093 20.1972L14.7829 20.6918L27.089 18.8623L27.0155 18.3677L26.942 17.8731L14.6358 19.7027L14.7093 20.1972ZM27.0155 18.3677L26.5209 18.4412C27.4911 24.9671 22.9871 31.0439 16.4612 32.0144L16.5348 32.5089L16.6083 33.0035C23.6804 31.9518 28.5615 25.3664 27.51 18.2942L27.0155 18.3677ZM16.5348 32.5089L17.0293 32.4354L15.1991 20.1244L14.7045 20.198L14.2099 20.2715L16.0402 32.5825L16.5348 32.5089ZM14.7045 20.198L14.631 19.7034L2.32482 21.5329L2.39835 22.0275L2.47188 22.5221L14.778 20.6925L14.7045 20.198ZM2.39835 22.0275L2.89291 21.954L1.06266 9.64298L0.568094 9.71651L0.0735297 9.79004L1.90379 22.101L2.39835 22.0275ZM0.568094 9.71651L0.64162 10.2111L12.9526 8.38082L12.8791 7.88625L12.8055 7.39169L0.494568 9.22195L0.568094 9.71651ZM12.8791 7.88625L12.3845 7.95978L14.2148 20.2708L14.7093 20.1972L15.2039 20.1237L13.3736 7.81273L12.8791 7.88625ZM39.3265 16.5374L39.2529 16.0429L26.942 17.8731L27.0155 18.3677L27.089 18.8623L39.4 17.032L39.3265 16.5374ZM27.0155 18.3677L27.51 18.2942L25.6798 5.98319L25.1852 6.05671L24.6907 6.13024L26.5209 18.4412L27.0155 18.3677ZM25.1852 6.05671L25.2588 6.55128L37.5697 4.72102L37.4962 4.22646L37.4227 3.73189L25.1117 5.56215L25.1852 6.05671ZM37.4962 4.22646L37.0016 4.29998L38.8319 16.611L39.3265 16.5374L39.821 16.4639L37.9908 4.15293L37.4962 4.22646Z" fill="#C4C4C4"/>
					</svg>
					<h3 class="text-[2.25rem] font-editorial relative pb-2">Design</h3>
					<ul class="flex flex-col leading-6 text-lg opacity-80 list-none p-0">
						<li class="relative">Logo</li>
						<li class="relative">Web design</li>
						<li class="relative">Art direction</li>
						<li class="relative">UX & UI Design</li>
						<li class="relative">Interactive prototype</li>
						<li class="relative">Graphic design</li>
						<li class="relative">Design system</li>
					</ul>
				</div>

				<div class="flex flex-col items-center gap-4">
					<svg width="81" height="79" viewBox="0 0 81 79" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.42728e-07 51.8631L13.5058 49.9087L15.4138 63.0937L14.4241 63.2369L12.6593 51.0416L1.13291 52.7096L4.70329 77.3823C11.0802 75.9444 15.376 69.8163 14.4241 63.2369L15.4138 63.0937C16.493 70.5528 11.3215 77.4745 3.86241 78.5539L4.42728e-07 51.8631Z" fill="#C4C4C4"/>
						<path d="M71.0809 68.966L57.5751 70.9204L53.7127 44.2297L67.2185 42.2753L71.0809 68.966ZM54.8456 45.0762L58.4216 69.7875L69.948 68.1195L66.372 43.4082L54.8456 45.0762Z" fill="#C4C4C4"/>
						<path d="M7.60564 9.72595L21.1114 7.77154L26.9283 47.9681L13.4225 49.9225L7.60564 9.72595ZM25.7954 47.1216L20.265 8.90444L8.73855 10.5724L14.2689 48.7896L25.7954 47.1216Z" fill="#C4C4C4"/>
						<path d="M53.6201 44.1045L40.1143 46.0589L34.2975 5.86233L47.8033 3.90792L53.6201 44.1045ZM35.4304 6.70881L40.9608 44.926L52.4872 43.258L46.9568 5.04083L35.4304 6.70881Z" fill="#C4C4C4"/>
						<path d="M80.6326 40.1965L67.1268 42.151L63.2644 15.4602L64.2541 15.317L67.9733 41.018L79.4997 39.3501L73.9749 1.17157C67.598 2.60946 63.3021 8.73758 64.2541 15.317L63.2644 15.4602C62.1851 8.00111 67.3566 1.0794 74.8158 -6.38662e-07L80.6326 40.1965Z" fill="#C4C4C4"/>
						<path d="M27.0123 47.9538L40.1972 46.0459L42.1517 59.5517L41.162 59.6949L39.3508 47.1788L28.1452 48.8003L31.7153 73.4711C37.9146 72.0596 42.0884 66.0967 41.162 59.6949L42.1517 59.5517L42.1961 59.8926C43.0468 67.0432 38.0427 73.6073 30.8747 74.6446L27.0123 47.9538Z" fill="#C4C4C4"/>
					</svg>
					<h3 class="text-[2.25rem] font-editorial relative pb-2">Développement</h3>
					<ul class="flex flex-col leading-6 text-lg opacity-80 list-none p-0">
						<li class="relative">Web</li>
						<li class="relative">App IOS</li>
						<li class="relative">Android</li>
						<li class="relative">Databases</li>
						<li class="relative">Automation Tools</li>
						<li class="relative">CRM</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
